.editor-page {
    margin: 25px 50px;
}

.editor-main {
    height: 500px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.editor-content {
    margin: 50px auto;
}

input {
    border: none;
    width: 100%;
    min-height: 60px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid lightgrey;
}

textarea {
    border: none;
    width: 100%;
    min-height: 200px;
}

.greybackground {
    min-height: 100px;
    background: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
}